.container-card {
  padding: 0 0 1em 0;
  margin: 1.6em 1em;
  width: 222px;
  height: 70%;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.capa-card img {
  width: 100%;
  cursor: pointer;
}

.title-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-card h4,
.favoritar-card {
  padding: 0 0.8em;
}

.favoritar-card {
  width: 20px;
  align-self: flex-end;
  cursor: pointer;
}
