.container {
  padding: 0 0 1em 0;
  margin: 1.6em 1em;
  width: 282px;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.capa {
  height: 420px;
}

.capa img {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container h3,
.favoritar {
  padding: 0 0.8em;
}

.favoritar {
  width: 20px;
  align-self: flex-end;
}
